.App {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  padding: 10px;
  border-radius: 9px;
  border: 2px solid green;
  font-size: 16px;
  font-weight: 600;
  color: blueviolet;
}

img {
  margin: 30px 10px;
  max-width: 100%;
}

input {
  margin-bottom: 30px;
  border-width: 0px 0px 1px 0px;
  width: 70%;
  height: 30px;
  font-size: 18px;
  text-align: center;
}